html, body, section {margin:0; padding:0;
}
body {
  font-family: "NYT Serifa Roman",Helvetica,Arial,sans-serif;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100vh;
}
.page_container {
  max-width:1260px;
  margin:0 auto;
  box-sizing:border-box;
}
header {
  width:100%; 
  margin:0 auto;
  height:70px;
  top:20px;
  border-bottom: 1px solid #d0d0d0;
  position:relative;
  z-index: 2;
  text-align:center;
}
button,.button a {
  display:inline-block;
  position:relative;
  margin:15px 25px 20px 25px;
  padding:10px 20px 10px;
  text-align:center;
  vertical-align:middle;
  fill:none;
  cursor: pointer;
  font-size:14px;
  font-weight:400;
  text-decoration:none;
  text-transform:uppercase;
  color:#000;
  stroke:#000;
  stroke-width:2;
  stroke-dasharray:422, 0;

  background-color: transparent;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;  
}

button:hover,.button a:hover {
  stroke-dasharray:15, 310;
  stroke-dashoffset:48;
  transition:all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
button:active,.button a:active {
  background-color:#000;
  color:#fff;
  transition:all 0.1s;
}
button:focus {
  outline: none;
}
svg {
  height:35px;
  left:0;
  position:absolute;
  top:0;
  width:100%; 
}
header .button {
    float:right;
}
h1 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 15px 23px 15px;
  float:left;
  padding-left:40px;
}
h2 {
  font-size:14px;
  letter-spacing:1px;
  color:black;
  margin-bottom:10px;
  text-align:center;
}
#products, #product_details {
  margin-top:70px;
  width:100%;
  display:block;
  text-align:center;
}
.item {
  width:20%;
  height:auto;
  margin:10px;
  display:inline-block;
  background-color:#f7f7f7;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.2);
}
#bulk_delete {
  margin-top:30px;
}
.hidden {
  display:none;
}
label {
  padding-bottom:10px;
}
#product_details input {
  margin-bottom: 20px;
  height: 3em;
  width: 30%;
  border: 0;
  border-bottom: 1px solid #dde2e6;
  padding-bottom: 1px;
}
#product_details input:focus {
  outline: none;
  border-bottom: 2px solid #000;
  padding-bottom:0;
}
#product_details input:focus::-webkit-input-placeholder {
  font-size: .75em;
  color:#000;
  position: relative;
  top: -15px;
  transition: 0.3s ease-out;
}
#product_details input::-webkit-input-placeholder {
  transition: 0.3s ease-in;
}
#product_details input:focus::-moz-placeholder {
  font-size: .75em;
  color:#000;
  position: relative;
  top: -15px;
  transition: 0.3s ease-out;
}
#product_details input::-moz-placeholder {
  transition: 0.3s ease-in;
}
#product_details input:focus::-ms-input-placeholder {
  font-size: .75em; color:#000;
  position: relative;
  top: -15px;
  transition: 0.3s ease-out;
}
#product_details input::-ms-input-placeholder {
  transition: 0.3s ease-in;
}

@media screen and (max-width:768px) {
  .page_container {
  width:100%;
  margin:10px auto;
}
  .item {
  width:100%;
}
  #product_details input {
    width: 90%;
}
}